@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600|Manrope:wght@500,600,700&display=swap');

@font-face {
  font-family:'Cera Pro';
  font-weight:400;
  src:url('./assets/CeraPro.ttf');
}
@font-face {
  font-family:'Cera Pro';
  font-weight:500;
  src:url('./assets/CeraProMedium.otf');
}
@font-face {
  font-family:'Cera Pro';
  font-weight:600;
  src:url('./assets/CeraProBold.otf');
}


:root {
  --panel-width: 300px;
  --panel-margin: 300px;

  --grid-background:rgb(240, 240, 240);
  --grid-gridline:rgb(225, 225, 225);

  --white: white;
  --light-grey: #f8f8f8;
  --dark-grey: #00000081;
  --black: black;

  --accent: #940000;
  --accent-light: #9400000a;
  --accent-dark: #5A0000;

  --notification-warning: rgb(255, 217, 0);
  --notification-warning-light:rgba(255, 217, 0, 0.2);

  --font:"Manrope", sans-serif;
}

::selection {
  background:#9400001f;
}

::-webkit-scrollbar {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-thumb {
  background:#ccc;
}

::-webkit-scrollbar-track {
  background: hsla(0,0%,100%,.425);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
}

* {
  font-family:var(--font);
  font-weight:500;
  margin:0;
  padding:0;
  transition:0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1,
h2,
h3,
h4 {
  font-weight:700;
}

body {
  background: var(--light-grey);
}

img {
  max-width:100%;
}

.main {
  height:100vh;
}

body.indiana-dragging {
  cursor:grabbing !important;
}


/* Panel Styles */

.panel {
  width:calc(var(--panel-width) - 50px);
  left:25px;
  height:calc(100vh - 50px);
  top:25px;
  position:fixed;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  background:none;
  z-index:2000;
}

.panel .ruby {
  background: rgba(107, 0, 0, 0.725);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  padding:20px;
  user-select: none;
}

.panel h1 {
  font-size:18px;
  letter-spacing:0.25px;
  line-height:23px;
  color:white;
  font-weight:700;
}

.panel img.colonize {
  filter: grayscale(1) brightness(10000%);
  width:120px;
  margin-left:-10px;
  margin-top:30px;
}

.panel .ice {
  background: hsla(0,0%,100%,.85);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  border-radius: 0 0 5px 5px;
  flex-grow:2;
  justify-content:flex-start;
  display:flex;
  flex-direction: column;
  /* display:flex;
  flex-direction:column;
  justify-content: space-around; */
}

.panel .ice .gap {
  flex-grow:2;
}

.ice h3 {
  margin-top:10px;
  user-select: none;

  padding:20px 20px;
  color:rgba(0, 0, 0, 0.219);
  font-weight:700;
  font-size:0.8rem;
  text-transform: uppercase;
  letter-spacing:2px;
}

.ice .panel-link {
  display:table;
  padding:15px 20px;
  text-decoration:none;
  color:#222;
  font-size:1rem;
  font-weight:600;
  box-sizing: border-box;
  width:100%;
  transition:0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);  
}

.ice .panel-link.icon {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.ice .panel-link.icon img {
  height:20px; 
  box-sizing: border-box;
  padding:3px;
}

.ice .panel-link:hover {
  background:var(--accent-light);
}

.ice .panel-link.active {
  border-style:none solid none none;
  border-color:var(--accent);
  border-width:5px;
  background:var(--accent-light);
}

.ice button.panel-link {
  border:none;
  text-align:left;
  background:none;
  cursor:pointer;
  outline:none;
}

/* Hide toggle */

.ice .hide {
  display:flex;
  justify-content:space-between;
  align-items:center;
  justify-self:flex-end;
}

.ice .hide:hover {
  background:var(--accent-light);
}

.ice .hide .left {
  display:table;
  padding:20px 20px;
  text-decoration:none;
  color:#222;
  font-size:16px;
  font-weight:600;
  box-sizing: border-box;
  width:100%;
  cursor:pointer;
  user-select: none;
}

.ice .hide .chevron {
  cursor:pointer;
  border-radius:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  background:white;
  padding:13px;
  height:55px;
  width:65px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-sizing: border-box;
  transform:translateX(25px);
}

.ice .hide .chevron.closed {
  background:#ac2323;
  color:white;
  transform:rotate(180deg) translateX(-95px);
}

.ice .hide .chevron img {
  display:flex;
  align-items:center;
  justify-content:center;
}

.panel.navopenclosed {
  transform:translateX(calc(-100% - 30px));
}



/* Login Styles */

.login-wrapper {
  display:flex;
  height:100vh;
  width:100%;
  align-items:center;
  justify-content: center;
}

.login-container {
  width:100%;
  height:auto;
  display:flex;
  width:30vw;
  min-width:700px;
  box-shadow: 0 0 10px rgba(0,0,0,0.01);
}

.login-pane {
  flex-grow:1;
  width:30%;
  border-radius:5px 0 0 5px;

  background: rgba(107, 0, 0, 0.725);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;

  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-end;
}

.login-pane img.colonize {
  filter: grayscale(1) brightness(10000%);
  width:120px;
  opacity:0.2;
  padding:10px 5px;
}

.login {
  flex-grow:2;
  z-index:9;
  width:600px;
  height:400px;
  
  background:rgba(255, 255, 255, 0.425);
  backdrop-filter: blur(20px);
  z-index:10;

  border-radius:0 5px 5px 0;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  position:relative;
}

.login h2 {
  font-size:30px;
  margin-left:35px;
}

.login h3 {
  margin:0;
  padding:20px 35px;
  color:rgb(187, 187, 187);
  font-size:18px;
  font-weight:500;
}

.login .google {
  background:var(--accent);
  border-radius:4px;
  color:var(--white);
  font-size:16px;
  border:none;
  padding:10px 15px;
  cursor:pointer;
  margin:10px 35px 0 35px;
  font-family:var(--font);
  font-weight:500;
  transition:0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login .google.disabletrue {
  background:#222;
  color:rgb(102, 102, 102);
}

.login .login-error {
  box-sizing: border-box;
  padding:25px 35px;
  background:var(--notification-warning-light);
  border-radius:0 0 5px 0;
  color:var(--notification-warning);
  position:absolute;
  bottom:0;
  width:100%;
  font-weight:500;
}

.login .redirect {
  text-decoration:none;
}



/* Draggable Campus Styles */

.campus {
  height:1500px;
  width:3000px;
  cursor:grab;
  overflow:auto;
  display:flex;
  align-items:center;
  justify-content:center;

  font-weight:500;
  text-transform: lowercase;
  color:#ccc;
  font-size:18px;
  overflow:hidden;
  letter-spacing:0.4px;
  
}

.floor {
  /* tilt for isometric effect */
  z-index:-1;
  transform:  rotateX(60deg) 
              rotateY(0deg) 
              rotateZ(-45deg)
              translateX(-20%)
              translateY(-95%);
  height:100%;
  width:100%;
  z-index:1000;
}

.grid {
  width:145%;
  height:290%;
  display: grid;
  background:var(--grid-background);
  grid-template-columns: repeat(40, calc(100% / 40));
  grid-template-rows: repeat(40, calc(100% / 40));
}

.grid-item {
  background-color: var(--grid-background);
  border: 0 solid var(--grid-gridline);
  font-size: 30px;
  text-align: center;
}

.grid-item a.grid-link {
  display:table;
  height:100%;
  width:100%;
  /* color:var(--accent-dark); */
  color:rgb(240, 240, 240);
  text-decoration:none;
  transition:0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);

  display:flex;
  align-items:center;
  font-size:25px;
  justify-content: center;
  
  transform:  rotateX(0) 
              rotateY(0) 
              rotateZ(45deg)
              translateY(-75%)
              translateX(-75%)
              scale(1,2);
}

.grid-item a.grid-link:hover {
  cursor:pointer;
  color:#ccc;
}

.grid-item.grass {
  /* background:rgba(135, 221, 127, 0.644); */
}

.grid-item.committee {
  background:var(--accent);
}

.grid-item.street {
  background:rgb(233, 233, 233);
}


/* Boomer Toggle */

.toggle {
  position:fixed;
  right:25px;
  bottom:25px;
  z-index:2000;
}

.switch {
  cursor:pointer;
  font-weight:500;
  color:#CCC;
  transition:0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.switch:hover {
  color:#777;
}


/* Static pgaes */

.conference-container,
.resources-container,
.committees-container {
  box-sizing: border-box;
  padding-left:calc(var(--panel-margin) + 65px);
  width:calc(100% - 120px);
  padding-top:100px;
}

.conference-container h2,
.resources-container h2,
.committees-container h2 {
  font-weight:700;
}

.conference-container h3,
.resources-container h3,
.committees-container h3 {
  font-weight:700;
  padding-top:20px;
  font-size:18px;
  color:var(--dark-grey);
}


/* committees page */


.committees .columns {
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-top:25px;
  flex-wrap:wrap;
}

.committees .columns .group {
  width:48%;
  box-sizing: border-box;
}

.committees .columns .group-inner {
  display:table;
  border-radius:5px;
  width:100%;
  margin-bottom:40px;

  background: hsla(0,0%,100%,.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
}

.group h4 {
  font-weight:600;
  font-size:1.1rem;
  color:#222;
  box-sizing: border-box;
  padding:20px;
  background:white;
  border-radius: 4px 4px 0 0;
}

.group a.committee-item {
  display:table;
  box-sizing: border-box;
  padding:10px 15px;
  width:calc(100% - 40px);
  margin:15px 20px;
  color:white;
  background:var(--accent);
  text-decoration:none;
  font-weight:600;
  border-radius:5px;
  letter-spacing:0.5px;
  font-size:16px;
  transition:0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.group a.committee-item.funtime {
  background:rgb(35, 95, 163);
} .group a.committee-item.funtime:hover {
  background:rgb(20, 57, 100);
} .group a.committee-item.funtime:active {
  box-shadow:0 0 0 5px rgba(35, 95, 163, 0.384);
}

.group a.committee-item:hover {
  background:var(--accent-dark);
}

.group a.committee-item:active {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px #94000080;
  background:var(--accent-dark);
}

.group a.committee-item.disabled,
.group a.committee-item.disabled:active {
  cursor:default;
  background:#777;
  color:#CCC;
  border-color:none;
  box-shadow:none;
  background:#777;
}

p {
  padding-top:15px;
}

.schedule {
  width:100%;
  margin-top:25px;
  overflow: hidden;
  border-radius:4px;

  background: hsla(0,0%,100%,.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);

  height:70px;
}

.schedule.opened {
  height:auto;
}

.schedule .schedule-head {
  background:white;
  padding:15px 20px;
  box-sizing: border-box;
  border-radius:4px 4px 0 0;
  font-size:1.1rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.schedule .schedule-head .schedule-toggle {
  cursor:pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height:40px;
  width:40px;
  border-radius:100%;
}

.schedule.opened .schedule-head .schedule-toggle {
  transform:rotate(90deg);
}
.schedule.closed .schedule-head .schedule-toggle {
  transform:rotate(-90deg);
}

.schedule .schedule-head .schedule-toggle:hover {
  background:var(--accent-light);
}

.schedule-head h4 {
  font-weight:600;
}

.schedule-table {
  width:100%;
  font-size:1.05rem;
  border-collapse: collapse;
}
.schedule-table th { 
  text-align:left; 
  padding:30px 20px 10px 20px;
  font-weight:700;
}
.schedule-table tr.first:nth-child(even),
.schedule-table tr.third:nth-child(even),
.schedule-table tr.second:nth-child(even) {
  background:#e9cccc57;
}
.schedule-table td {
  padding:15px 20px;
  font-family:'Inter', sans-serif;
  font-weight:400;
}

.contact {
  padding-top:35px;
}







/* DOO doo DOo do Doo do Doo do do */

.announcements {
  box-sizing: border-box;
  padding:30px;
  color:rgb(172, 120, 24);
  background:rgba(255, 211, 116, 0.281);
  margin-bottom:50px;
  border-radius:5px;
}


.announcements.social {
  background:rgba(152, 193, 240, 0.301);
  color:rgb(20, 57, 100);
}

.announcements.social h3 {
  color:rgb(20, 57, 100);
  font-weight:blue;
  text-decoration: underline;
  padding:40px 0 10px 0;
}

.announcements a,
.announcements a:visited {
  color:rgb(47, 122, 207);
  font-weight:bold;
  text-decoration: none;
}

.announcements a:hover {
  color:rgb(35, 108, 192);
}

.announcements p {
  font-size:18px;
  line-height:30px;
  padding-top:5px;
  letter-spacing:0;
  font-family:'Inter', sans-serif;
}

.information,
.committees,
.rp,
.rop,
.cp {
  max-width:900px;
  margin-right: auto;
  margin-left:auto;
  padding-bottom:100px;
}

.paper {
  border-radius:5px;
  box-sizing: border-box;
  margin-top:50px;
  display:flex;
  flex-direction: column;

  padding:35px;
  background:white;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.03);
}

.paper a,
.contact a {
  color:var(--accent);
  text-decoration: none;
}

.paper a:hover,
.contact a:hover {
  color:var(--accent-dark);
}

.paper p {
  font-size:1.1rem;
  line-height:180%;
  font-family:'Manrope', sans-serif;
  padding:0;
  font-weight:500;
}

.paper h4 {
  padding-top:50px;
  font-size:1.3rem;
}

.paper h5 {
  font-size:1.1rem;
  padding:35px 0 15px 0;
  color:#777;
}

.paper img {
  width:50%;
  margin:20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align:center;
}

.paper ol {
  font-size:1.1rem;
  margin-left:50px;
}

.paper ol li {
  line-height:180%;
}

.contact-grid {
  margin-top:25px;
  padding:30px;
  background:rgba(255,255,255,0.625);
  box-sizing: border-box;
  border-radius:4px;
  box-shadow:0 0 10px rgba(0,0,0,0.02);
}

.contact-grid h4 {
  padding-bottom:10px;
  font-size:1.1rem;
}

.contact-grid p {
  padding-top:0;
  font-size:1.1rem;
  line-height:180%;
}





/* short screens */

@media only screen and (max-height: 800px) {
  .panel img.colonize {
    margin-top:10px;
  }

  .panel .ice h3 {
    display:none;
  }

  .panel .ice {
    padding-top:20px;
  }
}

@media only screen and (max-height: 700px) {
  .panel .ruby {
    display:none;
  }
  .panel .ice {
    padding-top:0;
  }
  .panel .ice h3 {
    display:block;
  }

}

@media only screen and (max-height: 600px) {
  .panel .ice h3 {
    display:none;
  }

  .panel .ice {
    padding-top:20px;
  }
}




/* iPad Pro breakpoint */
@media only screen and (max-width: 1366px) {

  .panel {
    max-height:100vh;
  }

  .conference-container,
  .resources-container,
  .committees-container {
    box-sizing: border-box;
    padding-left:calc(var(--panel-margin) + 20px);
    width:calc(100% - 25px);
    padding-top:50px;
  }

}

@media only screen and (max-width: 1024px) {
  .committees .columns .group {
    width:49%;
    margin-bottom:25px;
  }
  .committees .columns {
    flex-wrap:wrap;
  }
}

.section.mo {
  height:50px;

  display:none;
}

.mo-toggle {
  position:fixed;
  z-index:9000;
  top:20px;
  right:20px;

  display:none;
}

@media only screen and (max-width: 600px) {
  .paper {
    padding:20px;
  }

  .group .group-inner:last-child {
    margin-bottom:0;
  }

  .group {
    padding-bottom:15px;
  }

  .panel .ice {
    justify-content:flex-start;
  }

  .panel .ice .gap {
    flex-grow:1;
  }

  .ice .hide {
    margin-bottom:10px;
  }

  .section.mo {
    display:table;
  }
  .mo-toggle {
    display:table;
  }

  .panel {
    left:0;
    top:0;
    width:75vw;
    flex-direction:row;
    height:auto;
    height:100vh;
    z-index:3000;
  }

  .panel img.colonize {
    margin-top:0;
  }

  .panel .ruby {
    display:none;
  }

  .conference-container,
  .resources-container,
  .committees-container {
    margin-top:65px;
    box-sizing: border-box;
    padding:20px;
    width:100%;
  }
  
  .committees-container .columns .group {
    width:100%;
  }
}

.thank-you {
  width:100%;
  text-align:center;
  box-sizing: border-box;
  padding:50px;
  background:rgba(255, 208, 0, 0.048);
  border:3px solid rgb(255, 208, 0);
  margin-bottom:50px;
  border-radius:4px;
}

.thank-you p {
  color:#940000;
  font-size:1.5rem;
  line-height:200%;
  font-weight:bold;
}

.thank-you img {
  width:200px;
  text-align:center;
}

.welcome {
  margin-bottom:30px;
}